<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
	  <ComponentGroup Id="TrayComponents" Directory="INSTALLFOLDER">
		  <!-- icon.ico -->
		  <Component Id="cmp_Tray_Icon" Guid="F5C4D1B4-80E4-498B-9E93-92420143F707">
			  <File
				Id="fil_Tray_Icon"
				Source="$(var.PatronMonitoringAgent.Tray.TargetDir)icon.ico"
				KeyPath="no"/>
		  </Component>

		  <!-- PatronMonitoringAgent.Tray.exe -->
		  <Component Id="cmp_Tray_TrayExe" Guid="20CB7AE4-5DFF-44BE-8CFA-EE5D51792CE7">
			  <File
				Id="fil_Tray_TrayExe"
				Source="$(var.PatronMonitoringAgent.Tray.TargetDir)PatronMonitoringAgent.Tray.exe"
				KeyPath="no"/>
			  <File
				Id="fil_Tray_TrayExe_Config"
				Source="$(var.PatronMonitoringAgent.Tray.TargetDir)PatronMonitoringAgent.Tray.exe.config"
				KeyPath="no"/>
		  </Component>
	  </ComponentGroup>
  </Fragment>
</Wix>
